@import url("https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: var(--c-white);
  line-height: 1.5;
}

body {
  background-color: #569765 !important;
}

#profile-wrapper {
  text-align: center;
}

#profile-pic {
  width: 90%;
  height: 80%;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}

.githubrepo {
  height: 100%;
}

.profilehieght {
  height: 100%;
}

